@fortawesome:registry=https://npm.fontawesome.com/
@krakentech:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}

; pnpm config
public-hoist-pattern[] = pdfjs-dist
